body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    margin: 0;
    flex-direction: row;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
}

#editor-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#editor-header {
    padding: .5em;
    margin: 0;
    box-shadow: -10px 5px 3px lightgray;
}
#editor {
    flex-grow: 1;
}
#repl {
    flex: 1;
    font-family: monospace;
    overflow: auto;
}
    
